<h1> MOVIE BOX </h1>
<ul>
<table>
  <% @movies.each do |movie| %>
    <tr>
      <td><%= link_to movie.name, movie_path(movie) %></td>
      <td><%= button_to 'Edit', edit_movie_path(movie), method: 'get'%></td>
      <td><%= button_to 'Remove', movie_path(movie), method: 'delete', data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</table>
</ul>
<br>
<%= link_to "Add a New review", new_movie_path %>